<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{normal/base::Layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>This Home Page</title>
</head>
<body>
<section>
	
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="container text-center">
					<img src="" style="height: 120px;width: 120px;border-radius: 50%;border:1px solid gray"
					     class="my_profile_picture"
					     th:src="@{'/img/'+${user.imageUrl}}" alt="">
					<h2 class="text-center" th:text="${user.name}">
					</h2>
				</div>
				
				<h3 class="text-center mt-3 text-secondary font-italic font-weight=light">
					Start Adding your contact on cloud...
				</h3>
				<div class="text-center">
					<a th:href="@{/user/add-contact}" class="btn bg-primary text-white mt-4 btn-block text-uppercase">
						Add New Contact</a>
				</div>
				<p class="mt-4 font-italic">A contact manager is a software program that enables users to easily store
					and find contact information, such as names, addresses, and telephone numbers. They are
					contact-centric databases that provide a fully integrated approach to tracking all information and
					communication activities linked to contacts. Simple ones for personal use are included in most
					smartphones.
				</p>
				
				<!-- payment integration -->
				<!-- <h2 class="my-2 text-center">Feel free to Donate us</h2> -->
				<!-- <input id="payment_field" type="text" class="form-control my-2" placeholder="Enter amount here"/> -->
				
				<!-- <div class="container text-center"> -->
				<!-- 	<button onclick="paymentStart()" class="btn btn-success">Pay</button> -->
				<!-- </div> -->
			</div>
		</div>
	</div>
	<script>
		$(document).ready(() => {
			$('.item').removeClass('active');
			$('#home-link').addClass("active");
		});
	
	</script>
</section>
</body>
</html>