<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>change Page</title>
</head>
<body>

<section>
	<div id="login">
		<h3 class="text-center text-white"></h3>
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">
					
					<div id="login-box" style="height: 270px;border-radius: 2%;" class="col-md-12 shadow-sm">
						
						<!-- message  box-->
						<div th:if="${session.message}" class="container py-1 pt-1">
							<div class="alert alert-danger my-2  text-center" role="alert">
								<span th:text="${session.message}"></span>
							</div>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						
						<h3 class="text-center pt-3">Enter New Password</h3>
						
						<form th:action="@{/user-change-password}" method="post">
							
							<div class="form-group mt-4 text-center">
								<input name="newpassword" type="text" placeholder="Enter New password" class="form-control w-75 mx-5"  />
								<div class="container text-center mt-4">
									<button class="btn bg-primary text-white mb-5">Change Password</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>