<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
<style>
	.password-container {
		position: relative;
	}
	.eye-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		background:white;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 1;
	}
	.form-control-eye {
		padding-right: 30px; /* Adjust based on the icon size */
		background: white;
	}
	.form-control-eye:focus {
		border-color: white;
	}
	.input-group-text {
		background: white;
		
		padding-right: 1px;
	}
</style>
</head>
<body>
<section>
	<div id="login">
		
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6 d-flex justify-content-center align-content-center">
					
					<div id="login-box" class="col-md-12 shadow-sm mx-5 px-1"
					     style="width:420px;border-radius: 3%;height: auto">
						
						<!--   Register form-->
						<form id="login-form" class="form" th:action="@{/signin}" method="post">
							
							<h3 class="text-center text-black">Login</h3>
							
							<!-- Error Message -->
							<div th:if="${param.error}" class="alert alert-danger">
								Invalid username and password
							</div>
							
							<!-- logout message -->
							<div th:if="${param.logout}" class="alert alert-success">
								Yo have been logged out
							</div>
							
							<!-- password change message -->
							<div th:if="${param.change}" class="alert alert-success" id="successMessage"
							     style="height:50px;">
								<p th:text="${param.change}"></p>
								<script>
									
									// JavaScript code to hide the success message after 2 seconds
									setTimeout(function () {
										document.getElementById('successMessage').style.display = 'none';
									}, 2000); // 2000 milliseconds = 2 seconds
								</script>
							</div>
							
							<!-- username -->
							<div class="form-group">
								<label for="username" class="text-black">Username</label><br>
								<input type="text" name="username" id="username" class="form-control"
								       placeholder="abcd@example.com">
							</div>
							
							<!-- password -->
							<div class="password-container pt-3">
								<label for="password" class="text-black">Password</label><br>
								<div class="input-group">
									<input type="password" name="password" id="password"
									       class="form-control form-control-eye"
									       placeholder="Enter a strong password">
									
									<div class="input-group-append eye-icon" onclick="togglePasswordVisibility()">
						                <span class="input-group-text bg-white" style="height:40px;">
						                    <!-- Font Awesome icons for open and close eye -->
						                    <i class="fas fa-eye-slash" id="eye-slash"></i>
						                    <i class="fas fa-eye" id="eye" style="display: none;"></i>
						                </span>
									</div>
									
								</div>
							</div>
							
							<!-- remember me -->
							<div class="form-group mt-3 mx-1">
								<label for="remember-me" class="text-black">
	                                <span>
                                        <input id="remember-me" name="remember-me" type="checkbox">
                                    </span>
									<span>Remember me</span> 
								</label>
								<br>
							</div>
							
							<!-- submit button -->
							<div class="text-center mt-2">
								<input type="submit" name="submit" class="btn bg-primary  text-white w-75 mt-2"
								       value="Login" style="font-size: 20px;border-radius: 5px">
								
								<!-- Forgot password link -->
								<div class="text-end mx-5">
									<p class="text-black">
										<a class="text-black" href="/forgot">Forgot Password?</a>
									</p>
								</div>
							</div>
							<hr class="mt-4">
							
							<!-- register here link -->
							<div class="text-center mt-4" id="register-link">
								<p class="text-black">Can't account?
									<a href="/signup" class="text-black ">Register here</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>